# Compiled class file
*.class

# Log file
*.log

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
.mvn/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# macOS
.DS_Store

# Application properties with secrets
application-local.yml
